@media only screen and (max-width: 600px) {
    .mobile-hide {
      /* display:none; */
      padding-top: 40px;
      /* font-size: 34px; */
    }
  }

  @media only screen and (max-width: 350px) {
    .mobile-hide {
      display:none;
    }
  }

  #footer .footer-copyright {
    background-color: #fa6800;
    color: #ffffff;
  }

  #footer ul { 
      color: #fff;
  }

 
